# Python
# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env


# Jupyter Notebook
.ipynb_checkpoints/


# Data files
# Ignore raw and processed datasets
data/raw/
data/processed/

# Large data formats
*.parquet
*.xlsx
*.xml
*.7z


# Download Artifacts
*.aria2


# Generated JSON
logs/*.json
results/**/*.json


# Generated csv
data/**/*.csv


#Validation logs
logs/
    


# Keep literature matrix
!literature/Literature_Matrix.xlsx


# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk



# OS files
.DS_Store
Thumbs.db



# IDE files
.vscode/
.idea/
